# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/

# Ignore checkpoints
**/.ipynb_checkpoints/
**/*checkpoint.md
**/*checkpoint.yml
**/*checkpoint.ipynb
**/*checkpoint.py

# Ignore compiled Python bytecode
**/__pycache__/

# Ignore meteo forcings
LF_mekong_usecase/meteo/*.nc
LF_mekong_usecase/maps/water_use/pop_daily.nc
